/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --second-text-color: var(--accent-color);
  --header-text: var(--main-color);
  --main-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --shadow-color: var(--accent-color);
  --heading-color: #DB00FF;
  --transparent-border: rgba(255, 0, 112, 0.4);
  --content-text: #F1B2CE;
  --link-shadow: var(--accent-color);

  --padding: 10px;
  --background-image: url(../images/cover-image-dark.png);
}