/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --second-text-color: #ff0070;
  --header-text: #000028;
  --main-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --shadow-color: #ff0070;
  --heading-color: #dB00ff;
  --transparent-border: rgba(255, 0, 112, 0.4);
  --content-text: #f1b2ce;
  --link-shadow: #ff0070;
  --padding: 10px;
  --background-image: url(../images/cover-image-dark.png);
}

@media (width >= 768px) {
  :root {
    --padding: 20px;
  }
}